{% extends 'InicioBundle::default.html.twig' %}
{% block body %}
    {% block contenido %}
        <div id="horizontalTab">
        <ul>
            <li><a href="#tab-1">Acerca de nosotros</a></li>
            <li><a href="#tab-2">Contáctenos</a></li>
        </ul> 
      
    {% endblock contenido %}
    
    
{% block javascripts %}

{% endblock javascripts %}
{% endblock body %}

