{% extends 'InicioBundle::default.html.twig' %}
{% block javascript %}
    <script type="text/javascript">
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{path('buscarPedidos')}}",
        })
        .done(function( result ) {
            $("#cantP").text(result);
        });
        function listar(libro){
            var text = $('<tr id="item_'+libro.id+'"> <td><img src="'+libro.src+'" class="img-thumbnail" style="width: 80px;"/></td><td><span class="titulo">'+libro.nombre+'</span> <br><span class="btn btn-success disabled center-block precio">$'+libro.precio+'</span><br><a onclick="eliminarItem('+libro.id+');" class="eliminarItem"><span class="glyphicon glyphicon-remove">Eliminar</span></a</td></tr>');
            $("#carrito").append(text);
            $("#cant").text(parseInt($("#cant").text())+1);
        }
        $( "#confirmarC" ).click(function(){
            var datos = $('#carrito').children('.carritoItem');
            var libros ="";
            jQuery("#carrito li").each(function(index) {
                libros = libros + datos[index].id;
                libros = libros +"|";
             });
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "conformarCarrito",
                 data: { data: libros}
             })
            .done(function( result ) {
                    if(result){
                         $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: "{{path('compraPasoUno')}}",
                            data: { data: result}
                        })
                        $(location).attr("href","{{path('compraPasoUno')}}");
                    }else{
                        $("#login").modal('show');
                    }
            });
        });
        function eliminarItem(id){
            localStorage.removeItem(id);
            $("#item_"+id).remove();
            $("#cant").text(parseInt($("#cant").text())-1);
            revisarConfirmar();
        }
        
        function addCarrito(id, nombre, precio, src){
           var existe = localStorage.getItem(id);
           if (!(existe)){
               var libro = { 'id':id, 'nombre':nombre, 'precio':precio, 'src':src};
                localStorage.setItem(id, JSON.stringify(libro));
                listar(libro);
            }else{
            }
        }
        function revisarConfirmar(){
            if ( (parseInt($("#cant").text())) == 0 ){
               $('#confirmarC').remove();
            }
        }
        
    </script>
{% endblock javascript %}

{% block documentReady %}
    for(lib in localStorage){
        if (localStorage.getItem(lib) != 'none'){
            var item= localStorage.getItem(lib);
            var libro = JSON.parse(item);
            listar(libro);
        }else{
            revisarConfirmar();
        }
    }
{% endblock %}
{% block ventanas %}
    {% include 'InicioBundle:Default:loginAndReg.html.twig' %}
{% endblock %}

{% block contenido %}
    
    <h2>¿Cómo comprar? </h2>
    1. <a href="" data-toggle="modal" data-target="#registro" role="button">Registrarse</a> en el sitio <br>
    2. Añade libros al carrito de compras <br>
    3. Confirmar compra <br>
    4. Completar datos de envío <br>
    ¡Listo! Ya puede esperar su pedido visualizando el estado del mismo dentro de su perfil
    
        
    <h2>¿Cómo registrarse?</h2>
    1. Hacer click en el botón <a href="">registrarse</a> en la página de inicio <br>
    2. Completar datos del formulario <br>
    3. Confirmar en su correo <br>
    ¡Listo! Ya puede proceder a realizar su compra
    

{% endblock contenido %}
