{% extends 'InicioBundle:Default:index.html.twig' %}
{% block main %}
    
    <h2>¿Cómo comprar? </h2>
    1. <a href="" data-toggle="modal" data-target="#registro" role="button">Registrarse</a> en el sitio <br>
    2. Añade libros al carrito de compras <br>
    3. Confirmar compra <br>
    4. Completar datos de envío <br>
    ¡Listo! Ya puede esperar su pedido visualizando el estado del mismo dentro de su perfil
    
        
    <h2>¿Cómo registrarse?</h2>
    1. Hacer click en el botón <a href="">registrarse</a> en la página de inicio <br>
    2. Completar datos del formulario <br>
    3. Confirmar en su correo <br>
    ¡Listo! Ya puede proceder a realizar su compra
    

{% endblock %}
