{% block body -%}
    <h1>Direccion creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
