{% extends 'InicioBundle::default.html.twig' %}

{% block barraLateral %}
        {% include 'InicioBundle:Admin:navAdmin.html.twig' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{path('buscarCant')}}",
        })
        .done(function( result ) {
            $("#cantP").text(result['pedidos']);
            $("#cantM").text(result['mensaje']);
        });
    </script>
{% endblock javascript %}


{% block contenido %}
    <div class="padd">
        {% block form %}
            <div class="jumbotron">
                <h1>Hola {{ app.user.username}}!!</h1>
                <p class="lead">
                    Desde el panel de administracion, podras gestionar las totalidad
                    de los componentes del sistema. Para esto accede al panel 
                    correspondiente en la izquierda
                </p>
            </div>
        {% endblock form %}
    </div>
{% endblock %}
