{% extends 'InicioBundle::default_admin.html.twig' %}

{% block main %}
    <div class="col-md-4">
        {% include 'InicioBundle:Admin:navAdmin.html.twig' %}
    </div>
    
    <div class="col-md-8">
        {% block form %}
        <div class="jumbotron">
            <h1>Hola {{ app.user.username}}!!</h1>
            <p class="lead">
                Desde el panel de administracion, podras gestionar las totalidad
                de los componentes del sistema. Para esto accede al panel 
                correspondiente en la izquierda
            </p>
        </div>
        {% endblock form %}
    </div>
{% endblock main %}
