.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.92);
    top: -50%;
    left: 95%;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #999;
    margin-top: 5px;
    margin-right: 10px;
}
.dropdown-submenu:hover>a:after {
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {

}

.masVendidos{
    background-color: red;
}    
    
.muestra{
    border-radius: 2%;
    height: 200px;
    width: 100%;     
}
    
.novedades{
    background-color: red;
    
}
.recomendados{
    background-color: red;
}