.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.92);
    top: -50%;
    left: 95%;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #999;
    margin-top: 5px;
    margin-right: 10px;
}
.dropdown-submenu:hover>a:after {
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {

}

.espacio-left{
    margin-left: 5%;
}

.dropdown-menu-right {
    margin-left: 0;
}
.margin-bottom0{
    margin-bottom: 1%;
}
.margin-bottom1{
    margin-bottom: 7%;
}
.margin-bottom2{
    margin-bottom: 14%;
}
.margin-bottom3{
    margin-bottom: 40%;
}
.margin-top0{
    margin-top: 1%;
}
.margin-top1{
    margin-top: 7%;
}
.margin-top2{
    margin-top: 14%;
}
.margin-der0{
    margin-left: 1%;
}
.margin-der1{
    margin-left: 7%;
}
.margin-der2{
    margin-left: 14%;
}
.overflow{
    overflow: hidden;
}

.buscar{
    display: inline-table!important;
}

.ancho{
    min-width: 100%;
}

.icon-bar{
    background-color: #FFF;
}

.navbar-toggle{
    background-color: #428bca!important;
}

.distancia input{
    margin-top: 2%;
    margin-bottom: 2%;
}

.distanciaa{
    margin-top: 2%;
    margin-left: 2%;
}

.padd{
    padding: 1%;
}