

{% block body -%}
    <h1>Provincia creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('provincia') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
