{% extends 'InicioBundle::default.html.twig' %}

{% block main %}
<div class="jumbotron">
    <h1>Bienvenido!!! </h1>
    <p class="lead">
        Al sistema de venta online de libros de cocina
    </p>
</div>
{% endblock %}
