{% extends 'InicioBundle::default.html.twig' %}

{% block main %}
<div class="jumbotron">
    <h1>Bienvenido!!! </h1>
    <p class="lead">
        A el sistema de carga de los relevamientos realizados a entidades estatales.
        desarrollado para la facultad de Bellas Artes.
    </p>
</div>
{% endblock %}
