{% block form %}
    <h1>Mensaje creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
